
<div class="main-container">
    <header>
        The Doppler Effect Simulator!
      </header>
  <figure class="img">
    <img src='/assets/star-small.png' class="img__star">
  </figure>
  <form class="form">
    <mat-form-field class="form__field" appearance="outline">
      <mat-label>Velocity (km/s)</mat-label>
        <input matInput name="velocityInput" [value]="velocity" [placeholder]="velocity" (change)="updateDopplerHue($event.target.value)" class="form__input" value="0.0" type="number" min="-100.0" max="100.0" [step]="getSliderStepSize(matSlider.percent * 100)">
    </mat-form-field><br/>
    <mat-slider 
      (input)="updateDopplerHue($event.value)" 
      thumbLabel 
      name="velocitySlider"
      #matSlider
      [displayWith]="formatLabel"
      min="-100" 
      max="100" 
      [step]="getSliderStepSize(matSlider.percent * 100)" 
      [value]="velocity"></mat-slider>
  </form>
</div>

<svg>
  <filter id="dopplerOverlay">
    <feColorMatrix
      type="matrix"
      [attr.values]="dopplerHue" />
  </filter>
</svg>